<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/assets/extracss/glass.css">
<style>
      
  model-viewer {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    --poster-color: transparent;
    z-index: 2;
  }
</style>
<div id="card">

  </div>
<!-- Canvas -->
<div id="logo">
    <img src="/assets/images/playsitepowered-black.png" width="200px">
  </div>
<canvas class="orb-canvas"></canvas>
<!-- Overlay -->
<div class="overlay">
  <!-- Overlay inner wrapper -->
  <div class="overlay__inner">
    <!-- Title -->
    <h1 class="overlay__title">
        <!-- Host your Website in few seconds 💪 with    -->
       <%= link %>
      <span class="text-gradient">successfully hosted with Playsite</span> 
    </h1>
    <!-- Description -->
    <p class="overlay__description">
        Paste your Github Repository link here (the link of the project that you want to host) and get your hosting link back 😍

        <!-- you can quickly upload your glb file and view it on playsite 3d and also use it in Augmented mode.
        to view your 3D model with playsite press below button and upload your glb file.
        or you can even explore other player models by the button below. -->

      <strong>Paste your link in Playsite Host</strong>
    </p>
    <!-- Buttons -->
    <form class="mt-5" method="post" action="link" data-trigger="shorten-form">
        <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control " placeholder="Paste your Github Repo link" name="id" id="url">
        <div class="input-group-append">
            <div class="overlay__btns">

                <button class="overlay__btn overlay__btn--transparent" type="submit">
                
          
           Host now
                  
                </button>
          
                <button class="overlay__btn ">
                  <a href="/website" target="_blank" style="color: white;">
                    Explore other websites
                    🎨
                  </a>
                </button>
              </div>
        <!-- <button class="btn btn-success" type="submit">host now</button> -->
        </div>
        </div>
        </form>

  </div>
  <!-- <model-viewer
  id="model-viewer"
  src="/assets/3d/Bike.glb"
  poster="/assets/images/lab3.gif"
  alt="NEOTIX CYCLE DEMO"
  shadow-intensity="3.8"
  camera-controls
  exposure="2.5"
  loading="lazy"
  auto-rotate
  interpolation-decay="100"
  shadow-softness="1.2"     
  camera-orbit="49.25deg 81.73deg auto"
  min-camera-orbit="auto 52deg auto"
  max-camera-orbit="auto 98deg auto"
  environment-image="https://cdn.glitch.com/26f00b29-51b7-4811-9ca7-3f1c898bb4b3%2Faircraft_workshop_01_1k.hdr"
  oncontextmenu="return false;"
  autoplay
  ar

  camera-controls
   touch-action="pan-y"
>

</model-viewer> -->
</div>

<script type="module" src="/assets/extracss/glass.js"></script>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    
<script type="module" src="cameraControlsModel.js"></script>

<script>

  const mv = document.querySelector("#model-viewer");

  const annotationClicked = (a) => {

    let ds = a.parentNode.dataset;

    mv.cameraTarget = ds.target;

    mv.cameraOrbit = ds.orbit;

    if(ds.fov !== undefined)

        mv.fieldOfView = ds.fov;

  }

</script>


































