<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/x-icon" href="/p/img/favicon.ico">
<link rel="stylesheet" href="/p/glass.css">
<style>
    
  model-viewer {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    --poster-color: transparent;
    z-index: 2;
  }
</style>
<div id="card">

  </div>
<!-- Canvas -->
<div id="logo">
    <img src="/p/img/playsitepowered-black.png" width="200px">
  </div>
<canvas class="orb-canvas"></canvas>
<!-- Overlay -->
<div class="overlay">
  <!-- Overlay inner wrapper -->
  <div class="overlay__inner">
    <!-- Title -->
    <h1 class="overlay__title">
        Host your Website in few seconds ðŸ’ª with 
      <span class="text-gradient">gitwebsite</span> 
    </h1>
    <!-- Description -->
    <p class="overlay__description">
        <!-- Paste your Github Repository link here (the link of the project that you want to host) and get your hosting link ðŸ˜ -->
        <iframe width="560" height="200" src="https://www.youtube.com/embed/FrGv9IT92NU?si=OTF42WuFP9RDcTrm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <br> currently hosting more then :<i id="txt" class="text-gradient"></i > websites ðŸ’ª
<br>
<strong >Paste your link below : *only HTML CSS JS PROJECTS : No NODe.Js project, for react plz built files and upload to github</strong> 

    </p>
    <!-- Buttons -->
 
        <form class="mt-5" method="post" action="link" data-trigger="shorten-form">
          <div class="input-group input-group-lg mb-3">
          <input type="text" class="form-control " placeholder="Paste your Github Repo link" name="id" id="url">
          <div class="input-group-append">
              <div class="overlay__btns">
  
                  <button class="overlay__btn overlay__btn--transparent" type="submit">
                  
            
             Host now
                    
                  </button>
            
                  <button href="/website" class="overlay__btn">
                    <!-- <a href="/website" target="_blank">
                      <span >Explore other websites</span>
                  
                    </a> -->
                    <a href="https://gitwebsite.com/softlink-labs/documentation" target="_blank" style="color: white;">
                      Documentation
                      ðŸŽ¨
                    </a>
                  </button>
                </div>
          <!-- <button class="btn btn-success" type="submit">host now</button> -->
          </div>
          </div>
          </form>

  </div>
</div>






<script type="module" src="/p/glass.js"></script>




<script>
  const d = new Date();
let time = d.getTime();
time = time/989999 -1717922 +721;
time =  Math.trunc(time);
  document.getElementById('txt').innerHTML =  time;
</script>






